{% extends "core/base.html" %}
{% block title %}Activity Details{% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h1>
        {% if activity_type == 'community' or activity_type == 'nc' %}
            Action Step Details
        {% elif activity_type == 'partner' %}
            Commitment Details
        {% endif %}
    </h1>

    <!-- Bootstrap Breadcrumbs with Popovers -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin-bottom: 25px">
            <li class="breadcrumb-item">
                <a style="color: #333333; text-decoration: none" href="#" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Goal {{ activity.related_goal.goal_number }}" data-bs-content="{{ activity.related_goal.goal_name }}">
                    Goal {{ activity.related_goal.goal_number }} <i class="bi bi-info-circle-fill" style="margin-left: 5px"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a style="color: #333333; text-decoration: none" href="#" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Objective {{ activity.related_objective.objective_number }}" data-bs-content="{{ activity.related_objective.objective_name }}">
                    Objective {{ activity.related_objective.objective_number }} <i class="bi bi-info-circle-fill" style="margin-left: 5px"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a style="color: #333333; text-decoration: none" href="#" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Strategy {{ activity.related_strategy.strategy_number }}" data-bs-content="{{ activity.related_strategy.strategy_name }}">
                    Strategy {{ activity.related_strategy.strategy_number }} <i class="bi bi-info-circle-fill" style="margin-left: 5px"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Activity Details <i class="bi bi-chevron-compact-down" style="margin-left: 2px"></i></li>
        </ol>
    </nav>

    <h2>{{ activity.activity_name }}</h2>
    <p>{{ activity.activity_details }}</p>

    {% if activity_type == 'community' %}
        <p><strong>Community Collaborative:</strong> {{ activity.related_collaborative.community_collab_name }}</p>
    {% elif activity_type == 'nc' %}
        <p><strong>NCFF Team:</strong> {{ activity.ncff_team.ncff_team_name }}</p>
    {% elif activity_type == 'partner' %}
        <p><strong>System Partner:</strong> {{ activity.related_systempartner.system_partner_name }}</p>
    {% endif %}

    <p><strong>Activity Lead:</strong> {{ activity.activity_lead }}</p>

    <div class="row">
        <div class="col-md-4">
            <p><strong>Status:</strong> {{ activity.activity_status }}</p>
        </div>
        <div class="col-md-4">
            <p><strong>Year to be Completed by:</strong> {{ activity.completedby_year }}</p>
        </div>
        <div class="col-md-4">
            <p><strong>Quarter to be Completed by:</strong> {{ activity.completedby_quarter }}</p>
        </div>
    </div>

    <h2 style="margin-top: 35px">Related Plan Details</h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    Related Goal
                </div>
                <div class="card-body">
                    {{ activity.related_goal.goal_name }}
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    Related Objective
                </div>
                <div class="card-body">
                    {{ activity.related_objective.objective_name }}
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    Related Strategy
                </div>
                <div class="card-body">
                    {{ activity.related_strategy.strategy_name }}
                </div>
            </div>
        </div>
    </div>

    {% if activity_type == 'community' and activity.community_creator == request.user %}
        <a href="{% url 'edit_community_activity' activity.pk %}" class="btn btn-ghost-grey">Edit</a>
    {% elif activity_type == 'nc' and activity.nc_staff_creator == request.user %}
        <a href="{% url 'edit_nc_activity' activity.pk %}" class="btn btn-ghost-grey">Edit</a>
    {% elif activity_type == 'partner' and activity.system_partner_creator == request.user %}
        <a href="{% url 'edit_system_partner_commitment' activity.pk %}" class="btn btn-ghost-grey">Edit</a>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    });
</script>
{% endblock %}
