{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Statewide Plan for Community Well-Being{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    {% include 'includes/font_links.html' %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
  </head>
  <body>

    <!-- Merged Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/BringUpNE-Logo_outlines_icon only.svg' %}" alt="Bring Up Nebraska Logo" class="img-fluid" width="100" style="margin-right: 10px">
                Statewide Plan Portal
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="planComponentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Plan Components
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="planComponentsDropdown">
                            <li><a class="dropdown-item" href="{% url 'goals' %}">Goals</a></li>
                            <li><a class="dropdown-item" href="{% url 'strategies_objectives' %}">Objectives</a></li>
                            <li><a class="dropdown-item" href="{% url 'strategy_list' %}">Strategies</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Reports
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="reportsDropdown">
                                <li><a class="dropdown-item" href="{% url 'individual_dashboard' %}">My Dashboard</a></li>
                                <li><a class="dropdown-item" href="{% url 'community_collaboratives' %}">Reports</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="createDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Create
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="createDropdown">
                                {% if user.is_superuser or user.member_type == 'SP' %}
                                    <li><a class="dropdown-item" href="{% url 'create_partner_activity' %}">Partner Commitment</a></li>
                                {% endif %}
                                {% if user.is_superuser or user.member_type == 'CC' %}
                                    <li><a class="dropdown-item" href="{% url 'create_community_activity' %}">Community Action Step</a></li>
                                {% endif %}
                                {% if user.is_superuser or user.member_type == 'NT' %}
                                    <li><a class="dropdown-item" href="{% url 'create_nc_activity' %}">Nebraska Children Action Step</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="toolsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tools
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="toolsDropdown">
                                <li><a class="dropdown-item" href="{% url 'communication_plan' %}">Communication Plan</a></li>
                                {% if user.is_superuser %}
                                    <li><a class="dropdown-item" href="/admin/" title="Admin Interface Login">Admin Panel</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">
                                <i class="bi bi-box-arrow-right" style="padding-right: 5px"></i> Logout
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">
                                <i class="bi bi-box-arrow-in-right"></i> Login
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="main-content">
        <div class="container" style="margin-top: 1.75rem; margin-bottom: 2.75rem">
          {% block content %}
          <!-- Your page content goes here -->
          {% endblock %}
          <!-- Make jQuery available to page scripts, mainly for smart-selects -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          {% block extra_js %}
              <!-- Page JS goes here -->
          {% endblock extra_js %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-light text-dark mt-auto py-4">
        <div class="container" style="padding-top: 2.5rem; padding-bottom:1.25rem">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <img src="{% static 'images/bringupnebraska_logo.png' %}" alt="Bring Up Nebraska Logo" class="img-fluid mb-2">
                    <p>Nebraska Children and Families Foundation</p>
                    <p>215 Centennial Mall South<br>Suite 200<br>Lincoln, NE 68508</p>
                    <p>(402) 476-9401</p>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-lg-0" style="padding: 0 20px">
                    <h4>About Bring Up Nebraska</h4>
                    <p>Bring Up Nebraska partners work to keep children safe, support strong parents, and help families address challenges before they become a crisis.</p>
                    <p>Bring Up Nebraska collaborative partners:</p>
                    <ul>
                        <li>Center for the Study of Social Policy</li>
                        <li>Children & Family Coalition of Nebraska (CAFCON)</li>
                        <li>Nebraska Department of Health & Human Services</li>
                        <li>Nebraska Department of Education</li>
                        <li>Nebraska Child Abuse Prevention Fund Board</li>
                        <li>Nebraska Children and Families Foundation</li>
                        <li>Administrative Office of Courts and Probation</li>
                        <li>Casey Family Programs</li>
                        <li>Annie E. Casey Foundation - CHAMPS</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <h4>Statewide Plan for Community Well-Being</h4>
                    <p><a href="{% url 'home' %}">About the Plan</a></p>
                    <p><a href="{% url 'goals' %}">Plan Goals</a></p>
                    <p><a href="{% url 'strategies_objectives' %}">Plan Objectives</a></p>
                    <p><a href="{% url 'strategy_list' %}">Plan Strategies</a></p>

                    <h4>Bring Up Nebraska</h4>
                    <p><a href="https://bringupnebraska.org/">Main Site</a></p>
                    <p><a href="https://bringupnebraska.org/who-we-are/collaboratives/community-collaboratives.html">Find Your Collaborative</a></p>
                    <p><a href="https://bringupnebraska.org/what-we-believe/">What We Believe</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Sub-footer -->
    <section class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p>&copy; 2024 Bring Up Nebraska Initiative | <a href="{% url 'privacy' %}">Privacy Policy</a> | <a href="{% url 'terms_of_use' %}">Terms of Use</a></p>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  </body>
</html>
