{% extends "core/base.html" %} {% block title %} Home Page {% endblock %}

{% block content %}
    <h1>Bring Up Nebraska’s Statewide Plan for Community Well-Being</h1>
    <p><strong>Nebraska will have the most robust Community Well-Being prevention model in the nation by 2025.</strong></p>
    <h2>What is the Statewide Plan for Community Well-Being?</h2>
    <p>The Statewide Plan for Community Well-Being is a community-driven, state-supported plan for well-being of children, youth, and families.</p>

    <h2>Why do we need a Statewide Plan for Community Well-Being?</h2>
    <p>The next step for our statewide collective impact approach to community prevention is to have a shared plan reflecting the public-private partnership statewide goals/objectives and all of the innovative strategies and activities happening in each Community Collaborative.</p>

    <h2>How was the Statewide Plan for Community Well-Being created?</h2>
    <p>The Statewide Plan for Community Well-Being was developed through an inclusive process between Community Collaboratives, lived experience partners, and system partners like Department of Health and Human Services, Department of Education, and other organizations.</p>
    <ul>
        <li>December 2020: Nebraska Department of Health and Human Services (DHHS) and Chapin Hall convened state partners and lived experience partners to develop the Strategic Transformation Plan for Child and Family Well-Being and established Priorities for the Pathways for Change. These Pathways for Change are included in the Statewide Plan for Community Well-Being to show the strategic alignment and coordination between systems partners and Community Collaboratives.</li>
        <li>2021: Together, Better partnership of Nebraska Department of Education and Nebraska Children and Families Foundation and partners to address learning disparities, deepen investment in primary prevention, early childhood, afterschool and summer programming, high- impact family and community engagement, Full-Service Community Schools, and whole family strategies. Many of these priorities are included in the Statewide Plan for Community Well-Being.</li>
        <li>December 2021: Community Collaboratives identified needs, goals, and priorities for community well-being</li>
        <li>April 2022 Bring Up Nebraska Convening: Goals established by communities that aligned with DHHS Strategic Transformation Pathways for Change</li>
        <li>Summer 2022: Community partners provided feedback to identify community-specific priorities via statewide calls and survey</li>
        <li>October 2022 Bring Up Nebraska Convening: Nebraska’s Statewide Plan for Community Well-Being shared and opportunity for Community Collaboratives, lived experience partners, and systems partners to provide initial feedback.</li>
    </ul>

    <h2>What are the goals and objectives of the Statewide Plan for Community Well-Being?</h2>
    <p>All goals and objectives are reflective of the principles of Community Well-Being (CWB) and are shared by Community Collaboratives across the state and were developed through a collaborative process in 2022. Not all Community Collaboratives may be actively working on each strategy, but all Community Collaboratives are working towards shared goals and objectives listed in the Statewide Plan for Community Well-Being.
        <br><strong>These goals are:</strong></p>
    <ol>
        <li>Improve authentic collaboration between lived experience partners, system partners, local school districts, and community collaboratives and community members</li>
        <li>Increase community collaborative infrastructure that leads to equitable well-being outcomes</li>
        <li>Improve services and supports that build Protective and Promotive Factors in children, youth, families, and communities, including:</li>
        <ul>
            <li>Education, postsecondary education, and career services and supports for children, youth, families, and communities hosted both inside and outside of the traditional school day</li>
            <li>Supports and services for youth/young adults and young parents/families</li>
            <li>Access to and increased capacity of early childhood services in communities</li>
            <li>Access to and increased capacity of physical and behavioral health services in communities</li>
            <li>Access to economic stability and concrete supports for children, youth, families, and communities</li>
        </ul>
        <li>Strengthen the well-being workforce in Nebraska</li>
    </ol>

    <h2>Is the Statewide Plan for Community Well-Being in addition to what we are already doing?</h2>
    <p>No, the plan is designed to elevate that work you are doing in your community and engage system partners to support and align to help your community achieve the goals. This happens with the understanding that Community Response is the “how” this is accomplished. We implement community-specific strategies to achieve goals and objectives, coordinate with partners and community members, and increase equitable access to services and supports through Community Response.</p>

    <h2>What’s next?</h2>
    <p>Nebraska’s Statewide Plan for Community Well-Being is a living, iterative document and never in “final form”. Once shared with Community Coordinators in November 2022, the Statewide Plan for Community Well-Being will become each community’s plan to determine local strategies and activities and to use as you want in your community. In 2023, there will be several opportunities to discuss the plan, identify indicators of change and performance measures, and adapt based on a continuous feedback loop that includes the following questions:</p>
    <ul>
        <li>Do the identified <strong>goals</strong> and <strong>objectives</strong> include the feedback you’ve provided?</li>
        <li>When thinking of the <strong>strategies</strong> that your specific community is implementing...</li>
        <ul>
            <li>Do the strategies represent what Community Response is doing in your community?</li>
            <li>Do the strategies reflect the changes you want to see in your community?</li>
        </ul>
        <li>Is there anything you want to add or change?</li>
    </ul>

    <h2>How do I talk about the Statewide Plan for Community Well-Being with others in my community?</h2>
    <p>The Statewide Plan for Community Well-Being is both externally facing with Community Collaboratives, lived experience partners, and systems partners; and internally facing with Nebraska Children and Families Foundation initiative and program staff to keep the work moving forward towards the shared goals. Here are short talking points about the Statewide Plan for Community Well-Being that you can use to share and talk about the plan in your local community.</p>
    <ul>
        <li>Community-driven, state-supported plan</li>
        <li>Comprehensive plan inclusive of community and lived experience voice</li>
        <li>As a collective impact approach, all goals and objectives are reflective of the principles of Community Well-Being and are shared by Community Collaboratives statewide. <em>*Keep in mind, not all Community Collaboratives are actively working on each strategy and activity listed in the plan, but collectively we will meet the objectives and achieve the goals by 2025.</em></li>
        <li>This plan becomes each community’s document to determine local priority of strategies and activities and update progress towards goals/objectives.</li>
    </ul>

    <h2>What is NCFF’s role in the Statewide Plan for Community Well-Being?</h2>
    <p>NCFF’s role is to serve as a convener of Community Collaboratives, lived experience partners, and system partners to help promote a statewide prevention and well-being system via a collective impact approach.</p>
    <ul>
        <li>The Statewide Plan for Community Well-Being helps to tell Nebraska’s prevention story on behalf of communities, children, youth and families so that we can sustain existing best practices and scale new strategies for years to come.</li>
        <li>Each NCFF initiative or program staff and priority area leads/teams help their community and system partners understand their unique role in community-based statewide prevention by identifying goals, objectives, and strategies that align with your initiative or program or priority area. It is not expected that each NCFF initiative or program or priority area implements all strategies from the plan. This is a coordinated and collaborative plan with shared goals and objectives that should be inclusive of each NCFF initiative or program goals, objectives, and strategies.</li>
    </ul>

{% endblock %}