{% extends 'core/base.html' %}
{% block content %}
<h1 style="padding-bottom: 15px">Community Action Steps</h1>

<!-- Dropdown for Filtering by Community Collaborative -->
<select class="form-select mb-4" id="collabFilter" onchange="filterCollab()">
    <option value="">Show All Community Collaboratives</option>
    {% for collab in collaboratives %}
    <option value="{{ collab.community_collab_short_name }}">{{ collab.community_collab_name }}</option>
    {% endfor %}
</select>

<!-- Accordion for Activities -->
<div class="accordion" id="activitiesAccordion">
    {% for activity in activities %}
    <div class="accordion-item" data-collab="{{ activity.related_collaborative.community_collab_short_name }}">
        <h2 class="accordion-header" id="heading{{ activity.activity_id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ activity.activity_id }}" aria-expanded="false" aria-controls="collapse{{ activity.activity_id }}">
                <strong>{{ activity.activity_number }}:</strong>&nbsp; {{ activity.activity_name }} &nbsp;&nbsp;<span class="badge bg-success">{{ activity.related_collaborative.community_collab_name }}</span>
            </button>
        </h2>
        <div id="collapse{{ activity.activity_id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ activity.activity_id }}" data-bs-parent="#activitiesAccordion">
            <div class="accordion-body">
                <div style="margin-bottom: 10px"><strong>Activity Number / ID:</strong> {{ activity.activity_number }}<br></div>
                <div style="margin-bottom: 10px"><strong>Details:</strong> {{ activity.activity_details }}<br></div>
                <div style="margin-bottom: 10px"><strong>Lead:</strong> {{ activity.activity_lead }}<br></div>
                <div style="margin-bottom: 10px"><strong>Status:</strong> {{ activity.activity_status }}<br></div>
                <strong>To be completed by:</strong> {{ activity.completedby_year }} {{ activity.completedby_quarter }}<br>
                {% if activity.community_creator == request.user %}
                    <p><a href="{% url 'edit_community_activity' activity.pk %}">Edit</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <p>No activities available.</p>
    {% endfor %}
</div>

<script>
    function filterCollab() {
        var selectedCollab = document.getElementById('collabFilter').value;
        var accordionItems = document.querySelectorAll('#activitiesAccordion .accordion-item');

        accordionItems.forEach(function(item) {
            if (selectedCollab === '' || item.getAttribute('data-collab') === selectedCollab) {
                item.style.display = '';
            } else {
                item.style.display = 'none';
            }
        });
    }
</script>
{% endblock %}
