{% extends "core/base.html" %}
{% block title %} Edit System Partner Commitment {% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<h2>Edit System Partner Commitment</h2>
<form method="post">
    {% csrf_token %}

    <!-- Regular label structure for each field -->
    <div class="mb-3">
        <label for="{{ form.related_systempartner.id_for_label }}" class="form-label">System Partner</label>
        {% render_field form.related_systempartner class="form-select" %}
    </div>

    <div class="mb-3">
        <label for="{{ form.commitment_name.id_for_label }}" class="form-label">{{ form.commitment_name.label }}</label>
        {% render_field form.commitment_name class="form-control" %}
    </div>

    <div class="mb-3">
        <label for="{{ form.commitment_details.id_for_label }}" class="form-label">{{ form.commitment_details.label }}</label>
        {% render_field form.commitment_details class="form-control" %}
    </div>

    <div class="mb-3">
        <label for="{{ form.commitment_lead.id_for_label }}" class="form-label">{{ form.commitment_lead.label }}</label>
        {% render_field form.commitment_lead class="form-control" %}
    </div>

    <!-- Row for commitment_status, completedby_year, and completedby_quarter -->
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="{{ form.commitment_status.id_for_label }}" class="form-label">{{ form.commitment_status.label }}:</label>
            {% render_field form.commitment_status class="form-select" %}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.completedby_year.id_for_label }}" class="form-label">Year to be completed by:</label>
            {% render_field form.completedby_year class="form-select" %}
        </div>
        <div class="col-md-4 mb-3">
            <label for="{{ form.completedby_quarter.id_for_label }}" class="form-label">Quarter to be completed by:</label>
            {% render_field form.completedby_quarter class="form-select" %}
        </div>
    </div>

    <!-- Add other fields as needed -->
    <div class="mb-3">
        <label for="{{ form.related_goal.id_for_label }}" class="form-label">{{ form.related_goal.label }}</label>
        {% render_field form.related_goal class="form-select" %}
    </div>

    <div class="mb-3">
        <label for="{{ form.related_objective.id_for_label }}" class="form-label">{{ form.related_objective.label }}</label>
        {% render_field form.related_objective class="form-select" %}
    </div>

    <div class="mb-3">
        <label for="{{ form.related_strategy.id_for_label }}" class="form-label">{{ form.related_strategy.label }}</label>
        {% render_field form.related_strategy class="form-select" %}
    </div>

    <button type="submit" class="btn btn-bun-primary">Update Record</button>
</form>

{% endblock %}
{% block extra_js %}
    {{ form.media }}
{% endblock %}
