{% extends "core/base.html" %} {% block title %} Home Page {% endblock %}

{% block content %}
    <h1>Goals of the Statewide Plan for Community Well-Being</h1>
      <div class="accordion" id="goalsAccordion">
        {% for goal in goals %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ goal.goal_number }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ goal.goal_number }}" aria-expanded="false" aria-controls="collapse{{ goal.goal_number }}">
                    Goal {{ goal.goal_number }}: {{ goal.goal_name }}
                </button>
            </h2>
            <div id="collapse{{ goal.goal_number }}" class="accordion-collapse collapse" aria-labelledby="heading{{ goal.goal_number }}" data-bs-parent="#goalsAccordion">
                <div class="accordion-body">
                    <strong>Indicator of Change:</strong>
                    <ul>
                        {% for indicator in goal.changeindicator_set.all %}
                        <li>{{ indicator.indicator }}</li>
                        {% empty %}
                        <li>No indicators available</li>
                        {% endfor %}
                    </ul>
                    <strong>Performance Measure:</strong>
                    <ul>
                        {% for measure in goal.performancemeasure_set.all %}
                        <li>{{ measure.measure }}</li>
                        {% empty %}
                        <li>No measures available</li>
                        {% endfor %}
                    </ul>
                    <strong>Objectives:</strong>
                    <ul>
                        {% for objective in goal.objective_set.all %}
                            <li>{{ objective.objective_name }} <a href="{% url 'strategies' objective.objective_id %}">View Related Strategies</a></li>
                        {% empty %}
                        <li>No objectives available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>

{% endblock %}