{% extends "core/base.html" %} {% block title %} Nebraska's Statewide Plan for Community Well-Being {% endblock %}

{% block content %}
<h2>Bring Up Nebraska Network</h2>
<p>The Bring Up Nebraska Network is the statewide model for family strengthening and primary prevention. Established through a strategic public-private partnership involving ​​Nebraska Children and Families Foundation (NCFF), the Nebraska Department of Health and Human Services (DHHS), Nebraska Department of Education (NDE), Nebraska Child Abuse Prevention Fund Board, other state agency partners, and philanthropic leaders, Bring Up Nebraska empowers local Community Collaboratives, community members, and state partners to lead on-the-ground prevention efforts.</p>

<h2>Bring Up Nebraska Statewide Plan for Community Well-Being</h2>
<p>The Bring Up Nebraska Statewide Plan for Community Well-Being is a comprehensive, community-driven plan designed to ensure that children, youth, young adults, caregivers, and families in Nebraska can thrive. It is built on a prevention-focused model that emphasizes local leadership, cross-sector collaboration, and data-informed strategies to address challenges before they become crises.</p>

<p>The purpose of this plan is for Nebraska to create, implement, and sustain the most robust community well-being prevention model in the nation, by aligning local and state efforts to improve outcomes and results for children, youth, young adults, caregivers and families and ensuring they are:</p>

<ul>
    <li>Safe and healthy.</li>
    <li>Ready for and successful in educational and career opportunities.</li>
    <li>Experience economic stability.</li>
</ul>

<p><strong>Overall Goal and Common Agenda:</strong> Nebraska will lead the nation in building and sustaining a comprehensive, community-driven model for prevention and the promotion of well-being for children, youth, young adults, parents, caregivers, and families.</p>

<p><strong>GOAL 1:</strong> Bring Up Nebraska partners will co-create community-driven strategies together with young people, parents, families, caregivers, and other community members to advance prevention and promote well-being.</p>

<p><strong>GOAL 2:</strong> Bring Up Nebraska partners will advance statewide collaboration through a collective impact approach; aligning efforts across sectors and communities to support community-driven prevention, promote well-being, and achieve measurable outcomes.</p>

<p><strong>GOAL 3:</strong> Bring Up Nebraska partners will work together to promote greater utilization of services for childcare, education, health, financial literacy, and other community resources that build protective and promotive factors for children, youth, and families.</p>

<p><strong>GOAL 4:</strong> Bring Up Nebraska partners will strengthen and support a high-quality, collaborative well-being workforce, ensuring partners have the resources, skills, and capacity to advance the shared goal of improving well-being for children, youth, and families.</p>

<p>This statewide plan:</p>

<ul>
    <li>Serves as the common agenda of the Bring Up Nebraska Network to advance community well-being across Nebraska through a coordinated, cross-sector, community-led approach.</li>
    <li>Is grounded in the five conditions of collective impact.</li>
    <li>Includes shared goals, objectives, strategies, local action steps, and commitments; as well as a set of network-wide indicators, desired results, and success measures to track progress and impact.</li>
    <li>Is co-created by Community Collaboratives, local partners, state agency partners, youth and young adults, parents, and caregivers, and Nebraska Children and Families Foundation (backbone).</li>
    <li>Is data-informed and adaptive to be reviewed biennially using a Continuous Quality Improvement (CQI) process with mechanisms for continuous learning and adaptation.</li>
</ul>

{% endblock %}