{% extends "core/base.html" %} {% block title %} Nebraska's Statewide Plan for Community Well-Being {% endblock %}

{% block content %}
<h1>Bring Up Nebraska’s Statewide Plan for Community Well-Being</h1>
    <p><strong>Nebraska will have the most robust Community Well-Being prevention model in the nation by 2025.</strong></p>
    <h2>Nebraska's Goals</h2>
    <h3><strong>By 2025, we will...</strong></h3>
    <ol>
        <li>Improve authentic collaboration between lived experience partners, system partners, local school districts, and community collaboratives and community members.</li>
        <li>Increase community collaborative infrastructure that leads to equitable well-being outcomes.</li>
        <li>Improve services and supports that build Protective and Promotive Factors in children, youth, families, and communities, including:</li>
            <ol>
                <li>Education, postsecondary education, and career services and support for children, youth, families, and communities hosted both inside and outside of the traditional school day.</li>
                <li>Supports and services for youth/young adults and young parents/families.</li>
                <li>Access to and increased capacity of early childhood services in communities.</li>
                <li>Access to and increased capacity of physical and behavioral health services in communities.</li>
                <li>Access to economic stability and concrete support for children, youth, families, and communities.</li>
            </ol>
        <li>Strengthen the well-being workforce in Nebraska.</li>
    </ol>

    <h2>Population-Level Result Areas of Thriving</h2>
    <p><em>(strategic-level indicators of thriving):</em></p>
    <ul>
        <li><strong>Children, Youth, and Families are safe and healthy:</strong> this result will have a set of indicators focused on the promotive and protective factors; physical, mental, emotional health and wellness; children’s lived experiences with a focus on understanding and prevention of abuse and neglect</li>
        <li><strong>Children, Youth, and Families are ready for and successful in educational and career opportunities:</strong> this result will have a set of indicators focused on readiness and success as children grow from infancy through early adulthood regarding their education and their career pathways; also included here are readiness and success with regard to job opportunities for those supporting their families.</li>
        <li><strong>Children, Youth, and Families experience economic stability:</strong> this result will have indicators focused on access to and affordability of key resources such as housing, food, clothing, and other basic needs. The availability of jobs that pay a living wage is part of this area as well.</li>
    </ul>

{% endblock %}