{% extends "core/base.html" %}
{% block title %}Individual Dashboard{% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <h1 style="margin-bottom: 15px">Activity Summary</h1>
    <h3 style="margin-bottom: 15px">Total Activities: {{ activities_count.total }}</h3>
    <h4 style="margin-bottom: 15px">Activities by Status</h4>
    <div class="row" style="margin-bottom: 25px">
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Not Started</h5>
                    <p class="card-text">{{ activities_count.not_started }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">In Progress</h5>
                    <p class="card-text">{{ activities_count.in_progress }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Completed</h5>
                    <p class="card-text">{{ activities_count.completed }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ongoing</h5>
                    <p class="card-text">{{ activities_count.ongoing }}</p>
                </div>
            </div>
        </div>
    </div>

    <h2>List of All Activities</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Activity Number</th>
                <th>Activity Name</th>
                <th>Status</th>
                <th>To be Completed</th>
                <th>Related Goal</th>
                <th>Related Objective</th>
                <th>Related Strategy</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.activity_number }}</td>
                    <td>{{ activity.activity_name }}</td>
                    <td>{{ activity.activity_status }}</td>
                    <td>{{ activity.completedby_year }} {{ activity.completedby_quarter }}</td>
                    <td>
                        <button type="button" class="btn btn-ghost-grey" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Goal: {{ activity.related_goal.goal_number }}" data-bs-content="{{ activity.related_goal.goal_name }}">
                            Goal {{ activity.related_goal.goal_number }} <i class="bi bi-info-circle-fill" style="margin-left: 5px"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-ghost-grey" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Objective: {{ activity.related_objective.objective_number }}" data-bs-content="{{ activity.related_objective.objective_name }}">
                            Objective {{ activity.related_objective.objective_number }} <i class="bi bi-info-circle-fill" style="margin-left: 5px"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-ghost-grey" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="focus" data-bs-custom-class="custom-popover" data-bs-title="Strategy: {{ activity.related_strategy.strategy_number }}" data-bs-content="{{ activity.related_strategy.strategy_name }}">
                            {{ activity.related_strategy.strategy_number }} <i class="bi bi-info-circle-fill" style="margin-left: 5px"></i>
                        </button>
                    </td>
                    <td>
                        <a href="{% url 'activity_details' activity.activity_id %}" class="btn btn-ghost-grey">View</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8">No activities found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<script>
    $(document).ready(function(){
        $('[data-bs-toggle="popover"]').popover();
    });
</script>
{% endblock %}
