{% extends 'core/base.html' %}
{% block content %}
<h2 style="padding-bottom: 15px">Nebraska Children Action Steps</h2>

<!-- Accordion for Partner Activities -->
<div class="accordion" id="partnerActivitiesAccordion">
    {% for activity in activities %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ activity.activity_id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ activity.activity_id }}" aria-expanded="false" aria-controls="collapse{{ activity.activity_id }}">
                {{ activity.activity_number }} - {{ activity.activity_name }}
            </button>
        </h2>
        <div id="collapse{{ activity.activity_id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ activity.activity_id }}" data-bs-parent="#partnerActivitiesAccordion">
            <div class="accordion-body">
                <div style="margin-bottom: 10px"><strong>Details:</strong> {{ activity.activity_details }}<br></div>
                <div style="margin-bottom: 10px"><strong>Lead:</strong> {{ activity.activity_lead }}<br></div>
                <div style="margin-bottom: 10px"><strong>Priority:</strong> {{ activity.activity_priority|yesno:"Yes,No" }}<br></div>
                <div style="margin-bottom: 10px"><strong>Status:</strong> {{ activity.activity_status }}<br></div>
                <strong>To be completed by:</strong> {{ activity.completedby_year }} {{ activity.completedby_quarter }}<br>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No partner activities available.</p>
    {% endfor %}
</div>

{% endblock %}
