{% extends 'core/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

    <h1 style="margin-bottom: 20px">Related Strategies</h1>

    <!-- Bootstrap Breadcrumbs with Popovers -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a style="color: #333333; text-decoration: none" href="#" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Goal {{ objective.related_goal.goal_number }}" data-bs-content="{{ objective.related_goal.goal_name }}">
                    Goal {{ objective.related_goal.goal_number }} <i class="bi bi-info-circle-fill" style="margin-left: 5px"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a style="color: #333333; text-decoration: none" href="#" tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Objective {{ objective.objective_number }}" data-bs-content="{{ objective.objective_name }}">
                    Objective {{ objective.objective_number }} <i class="bi bi-info-circle-fill" style="margin-left: 5px"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Related Strategies <i class="bi bi-chevron-compact-down" style="margin-left: 2px"></i></li>
        </ol>
    </nav>

    <div class="card" style="margin-bottom: 15px">
        <div class="card-body" style="background-color: #eeeeee">
            <h3 style="margin-bottom: 0">Objective {{ objective.objective_number }}: {{ objective.objective_name }}</h3>
        </div>
    </div>


    <!-- Strategies Table -->
    <table class="table" style="margin-bottom: 140px">
        <thead>
            <tr>
                <th scope="col">Strategy Number</th>
                <th scope="col">Strategy Name</th>
                <th scope="col">Action Steps</th>
                <th scope="col">Commitments</th>
            </tr>
        </thead>
        <tbody>
            {% for strategy in strategies %}
            <tr>
                <td>{{ strategy.strategy_number }}</td>
                <td>{{ strategy.strategy_name }}</td>
                <td>
                    <a href="{% url 'community_activities' strategy.strategy_id %}" class="btn btn-ghost-grey" style="margin-bottom: 7px">Communities</a>
                    <a href="{% url 'nc_activities' strategy.strategy_id %}" class="btn btn-ghost-grey">Nebraska Children</a>
                </td>
                <td>
                    <a href="{% url 'partner_activities' strategy.strategy_id %}" class="btn btn-ghost-grey">System Partners</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No strategies available for this objective.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl)
            })
        });
    </script>
    {% endblock %}
